body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: lightblue;
}
.header {
  margin: 0;
  padding: 0;
  animation-name: bground;
  background-color: lightblue;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  display: flex;
}
.Login {
  position: absolute;
  top: 0;
  left: 95%;
  margin: 2px;
  padding: 5px;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}
.logo {
  vertical-align: middle;
  padding-right: 1px;
  text-align: start;
  font-size: 100%;
  white-space: nowrap;
}
.heading-name {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 18px;
}
.all-cuisine {
  text-align: center;
}
.cuisine {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  text-align: left;
}
.top-recipes {
  text-align: center;
  margin-top: 20px;
}
.recipe-button {
  margin: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.indian-cuisine {
  position: absolute;
  top: 0%;
  right: 75%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0%;
  padding-top: 0.5%;
}
.chinese-header {
  position: absolute;
  top: 0%;
  right: 66%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0%;
  padding-top: 0.5%;
}
.indian-button {
  font-size: 20px;
  display: inline-block;
}
.chinese-button {
  font-size: 30px;
  position: absolute;
  right: 30%;
  animation-name: bground;
  background-color: lightblue;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.indcuisine-button {
  font-size: 30px;
  position: absolute;
  left: 30%;
  animation-name: indbground;
  background-color: lightblue;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.txt {
  text-align: center;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
.footer {
  background-color: rgba(12, 12, 12, 0.956);
  padding: 10px;
  text-align: center;
}
@keyframes bground {
  0% {
    background: #56e4e4;
  }
  20% {
    background: #52e655;
  }
  40% {
    background: #d5ea4f;
  }
  60% {
    background: #ebcd55;
  }
  80% {
    background: #57e259;
  }
  100% {
    background: #51eaea;
  }
}
@keyframes indbground {
  0% {
    background: #8161e4;
  }
  20% {
    background: #e18659;
  }
  40% {
    background: #d5ea4f;
  }
  60% {
    background: #dbbc41;
  }
  80% {
    background: #4ce9de;
  }
  100% {
    background: #8dbb23;
  }
}
/* @keyframes vibgyor {
    0% {
      background-color: violet;
    }
    10% {
      background-color: green;
    }
    30% {
      background-color: blue;
    }
    70% {
      background-color: yellow;
    }
    100% {
      background-color: orange;
    }
  }*/
.csstext {
  color: rgba(77, 5, 9, 0.947);
  border: 1px solid rgb(14, 14, 14);
  background-color: chartreuse;
}
#foot {
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
  display: inline;
}
.search-container {
  position: absolute;
  left: 45%;
}

#search-box {
  padding: 10px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#suggestion-box {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px; /* Adjust font size for even smaller screens */
  }
}
